.version._1 /* version checker */
{
	color: #0000FB;
	background-color: #AE48A4;
}

.html
{
	background: #FFFFFF url("../images/bg1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 821px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu1314
{
	width: 0.01px;
	margin-left: -100px;
}

#u1314
{
	z-index: 2;
	min-height: 125px;
	padding-bottom: 25px;
}

#u1305
{
	z-index: 3;
	width: 336px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 45px;
}

#u1307
{
	z-index: 7;
	width: 96px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 646px;
}

#u1310
{
	z-index: 5;
	width: 85px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 771px;
}

#u1315
{
	z-index: 9;
	width: 107px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 886px;
}

#u1314-bw
{
	z-index: 2;
	min-height: 125px;
}

#u1312
{
	z-index: 11;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 86px;
	left: 870px;
}

#u1312:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1312:active
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1313
{
	z-index: 12;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 746px;
}

#u1313:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 87px -10000px 0px 0px;
}

#u1313:active
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 87px -10000px 0px 0px;
}

#u1313.MuseLinkActive
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 87px -10000px 0px 0px;
}

#u1309
{
	z-index: 13;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 86px;
	left: 621px;
}

#u1312.MuseLinkActive,#u1309:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1309:active
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1309.MuseLinkActive
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#pu1322
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u1322
{
	z-index: 14;
	width: 1116px;
	margin-right: -10000px;
}

#menuu1325
{
	z-index: 16;
	width: 806px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 169px;
}

#u1340
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
}

#u1341
{
	width: 200px;
	padding-bottom: 21px;
}

#u1341:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1341:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1343-4_clip
{
	width: 200px;
	height: 24px;
}

#u1343-4
{
	margin-right: -10000px;
	top: 10px;
}

#u1326
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
	left: 202px;
}

#u1327
{
	width: 200px;
	padding-bottom: 21px;
}

#u1341.MuseMenuActive,#u1327:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1327:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1333
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
	left: 404px;
}

#u1334
{
	width: 200px;
	padding-bottom: 21px;
}

#u1327.MuseMenuActive,#u1334:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1334:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1347
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
	left: 606px;
}

#u1350
{
	width: 200px;
	padding-bottom: 21px;
}

#u1334.MuseMenuActive,#u1350:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1350:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1350.MuseMenuActive
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1330,#u1337,#u1352
{
	height: 24px;
	width: 200px;
	margin-right: -10000px;
	top: 10px;
}

#u1231-10
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 651px;
}

#u1232
{
	z-index: 53;
	width: 584px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 46px;
}

#u1232_clip
{
	overflow: hidden;
	width: 584px;
	height: 356px;
}

#u1232_img
{
	margin-top: -33px;
}

#u2176
{
	z-index: 38;
	min-height: 65px;
	padding-bottom: 35px;
}

#u1314_align_to_page,#u2176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2272-4
{
	z-index: 39;
	width: 472px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 361px;
}

#u2176-bw
{
	z-index: 38;
	min-height: 65px;
	margin-top: 111px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

