.version._3 /* version checker */
{
	color: #0000F4;
	background-color: #AB3FD8;
}

.html
{
	background: #FFFFFF url("../images/bg1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 821px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu2552
{
	width: 0.01px;
	margin-left: -100px;
}

#u2552
{
	z-index: 31;
	min-height: 101px;
	padding-bottom: 9px;
}

#u2553
{
	z-index: 32;
	width: 336px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u2761
{
	z-index: 36;
	width: 80px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 682px;
}

#u2759
{
	z-index: 34;
	width: 71px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 792px;
}

#u2763
{
	z-index: 38;
	width: 89px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 888px;
}

#u2552-bw
{
	z-index: 31;
	min-height: 101px;
}

#u2765
{
	z-index: 40;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 648px;
}

#u2765:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#u2766
{
	z-index: 41;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 864px;
}

#u2765.MuseLinkActive,#u2766:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#u2767
{
	z-index: 42;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 756px;
}

#u2766.MuseLinkActive,#u2767:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#u2767.MuseLinkActive
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#pu1322
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 36px;
}

#u1322
{
	z-index: 2;
	width: 1116px;
	margin-right: -10000px;
}

#menuu1325
{
	z-index: 4;
	width: 684px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 228px;
}

#u1340
{
	width: 169px;
	min-height: 45px;
	margin-right: -10000px;
}

#u1341
{
	width: 169px;
	padding-bottom: 21px;
}

#u1341:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u1341:active
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u1343-4_clip
{
	width: 169px;
	height: 24px;
}

#u1343-4
{
	margin-right: -10000px;
	top: 10px;
}

#u1326
{
	width: 169px;
	min-height: 45px;
	margin-right: -10000px;
	left: 171px;
}

#u1327
{
	width: 169px;
	padding-bottom: 21px;
}

#u1341.MuseMenuActive,#u1327:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u1327:active
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u1327.MuseMenuActive
{
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u1330
{
	height: 24px;
	width: 169px;
	margin-right: -10000px;
	top: 10px;
}

#u1333
{
	width: 170px;
	min-height: 45px;
	margin-right: -10000px;
	left: 342px;
}

#u1334
{
	width: 170px;
	padding-bottom: 21px;
}

#u1334:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u1334:active
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u1347
{
	width: 170px;
	min-height: 45px;
	margin-right: -10000px;
	left: 514px;
}

#u1350
{
	width: 170px;
	padding-bottom: 21px;
}

#u1334.MuseMenuActive,#u1350:hover
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u1350:active
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u1350.MuseMenuActive
{
	width: 170px;
	min-height: 0px;
	margin: 0px;
}

#u1337,#u1352
{
	height: 24px;
	width: 170px;
	margin-right: -10000px;
	top: 10px;
}

#u1386-10
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 671px;
}

#u1396
{
	z-index: 53;
	width: 510px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 136px;
}

#u2176
{
	z-index: 26;
	min-height: 65px;
	padding-bottom: 35px;
}

#u2552_align_to_page,#u2176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2272-4
{
	z-index: 27;
	width: 472px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 361px;
}

#u2176-bw
{
	z-index: 26;
	min-height: 65px;
	margin-top: 111px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

