.version.history /* version checker */
{
	color: #0000FE;
	background-color: #396D9A;
}

.html
{
	background: #FFFFFF url("../images/bg1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 699.9610733823803px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu738
{
	width: 0.01px;
	margin-left: -100px;
}

#u738
{
	z-index: 2;
	min-height: 101px;
	padding-bottom: 19px;
}

#u739
{
	z-index: 3;
	width: 336px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u743
{
	z-index: 7;
	width: 80px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 682px;
}

#u741
{
	z-index: 5;
	width: 71px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 786px;
}

#u745
{
	z-index: 9;
	width: 89px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 883px;
}

#u738-bw
{
	z-index: 2;
	min-height: 101px;
}

#u747
{
	z-index: 11;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 870px;
}

#u747:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u747:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u748
{
	z-index: 12;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 765px;
}

#u748:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u748:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u748.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u749
{
	z-index: 13;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 661px;
}

#u747.MuseLinkActive,#u749:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u749:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u749.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#menuu2281
{
	z-index: 19;
	width: 117px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 768px;
}

#u2285
{
	width: 117px;
	padding-bottom: 19px;
}

#u2286-3
{
	width: 117px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2311
{
	width: 109px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u2311:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2313
{
	height: 23px;
	width: 104px;
	margin-right: -10000px;
	top: 9px;
	left: 3px;
}

#u2335
{
	width: 109px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2311.MuseMenuActive,#u2335:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2328
{
	width: 109px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u2335.MuseMenuActive,#u2328:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2321
{
	width: 109px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u2328.MuseMenuActive,#u2321:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2329,#u2322
{
	height: 23px;
	width: 104px;
	margin-right: -10000px;
	top: 8px;
	left: 3px;
}

#u2310,#u2332,#u2325,#u2318,#u2345
{
	width: 110px;
	padding-bottom: 1px;
}

#u2348
{
	width: 109px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u2321.MuseMenuActive,#u2348:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2348.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2336,#u2351
{
	height: 23px;
	width: 104px;
	margin-right: -10000px;
	top: 5px;
	left: 3px;
}

#menuu2399
{
	z-index: 52;
	width: 117px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 878px;
}

#u2282,#u2400
{
	width: 117px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2401
{
	width: 117px;
	padding-bottom: 19px;
}

#u2285.MuseMenuActive,#u2401.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u2402-3
{
	width: 117px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2285.MuseMenuActive #u2286-3,#u2401.MuseMenuActive #u2402-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u2283,#u2405
{
	width: 110px;
	top: 36px;
}

#u2417
{
	width: 110px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u2417:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2443
{
	width: 110px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u2417.MuseMenuActive,#u2443:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2419,#u2445
{
	height: 23px;
	width: 106px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u2284,#u2406,#u2414,#u2442,#u2435
{
	width: 110px;
}

#u2436
{
	width: 110px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2443.MuseMenuActive,#u2436:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2436.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2437
{
	height: 23px;
	width: 106px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#pu909
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u909
{
	z-index: 75;
	width: 1116px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu915
{
	z-index: 77;
	width: 0.01px;
	height: 181px;
	padding-bottom: 312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 129px;
}

#u920
{
	position: absolute;
	width: 758px;
	background-color: transparent;
	left: 130px;
}

#u920popup
{
	z-index: 78;
}

#u931
{
	z-index: 79;
	width: 758px;
	height: 493px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u932-13
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 51px;
}

#u926
{
	z-index: 95;
	width: 758px;
	height: 493px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u987
{
	z-index: 107;
	width: 347px;
	height: 458px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 27px;
	background: transparent url("../images/photo-1470162656305-6f429ba817bf.jpg") no-repeat left top;
	background-size: cover;
}

#pu927-11
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 388px;
}

#u927-11
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u994
{
	z-index: 108;
	width: 175px;
	height: 40px;
	background-color: #C7B299;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 156px;
}

#u995
{
	z-index: 110;
	position: relative;
	width: 175px;
	margin-right: -10000px;
	margin-top: 424px;
	left: 156px;
}

#u995_states
{
	height: 26px;
	width: 175px;
	vertical-align: top;
	background: url("../images/u995_states.png") no-repeat 0px 0px;
}

#u995:hover #u995_states
{
	background: url("../images/u995_states-r.png") no-repeat 0px 0px;
}

#u921
{
	z-index: 112;
	width: 709px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	padding: 27px 29px 5px 20px;
}

#u996
{
	z-index: 117;
	width: 700px;
	height: 250px;
	margin-left: 9px;
	position: relative;
	background: transparent url("../images/ca201503013-%e7%b6%b2%e7%ab%99%e9%9c%b2%e5%87%ba-02.jpg") no-repeat left top;
	background-size: cover;
}

#pu922-4
{
	width: 0.01px;
	margin-top: 26px;
}

#u922-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1010
{
	z-index: 118;
	width: 175px;
	height: 40px;
	background-color: #C7B299;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 533px;
}

#u1011
{
	z-index: 120;
	position: relative;
	width: 175px;
	margin-right: -10000px;
	margin-top: 152px;
	left: 533px;
}

#u1011_states
{
	height: 26px;
	width: 175px;
	vertical-align: top;
	background: url("../images/u1011_states.png") no-repeat 0px 0px;
}

#u1011:hover #u1011_states
{
	background: url("../images/u1011_states-r.png") no-repeat 0px 0px;
}

#u938
{
	z-index: 122;
	width: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 10px;
}

#u941
{
	position: absolute;
	width: 119px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding-bottom: 9px;
	top: -7px;
	left: -10px;
}

#u941:hover
{
	border-color: #999999;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u942
{
	z-index: 125;
	height: 34px;
	width: 103px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
	background: url("../images/u942.png") no-repeat 0px 0px;
}

#u941:hover #u942
{
	background: url("../images/u942-r.png") no-repeat 0px 0px;
}

#u941.PamphletThumbSelected #u942
{
	background: url("../images/u942-a.png") no-repeat 0px 0px;
}

#u943
{
	position: absolute;
	width: 119px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding-bottom: 9px;
	top: 49px;
	left: -10px;
}

#u943:hover
{
	border-color: #999999;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u944
{
	z-index: 130;
	height: 34px;
	width: 100px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
	background: url("../images/u944.png") no-repeat 0px 0px;
}

#u943:hover #u944
{
	background: url("../images/u944-r.png") no-repeat 0px 0px;
}

#u943.PamphletThumbSelected #u944
{
	background: url("../images/u944-a.png") no-repeat 0px 0px;
}

#u939
{
	position: absolute;
	width: 119px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding-bottom: 10px;
	top: 105px;
	left: -10px;
}

#u939:hover
{
	border-color: #999999;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u941.PamphletThumbSelected,#u943.PamphletThumbSelected,#u939.PamphletThumbSelected
{
	border-color: #999999;
	border-radius: 20px;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u940
{
	z-index: 135;
	height: 34px;
	width: 105px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
	background: url("../images/u940.png") no-repeat 0px 0px;
}

#u939:hover #u940
{
	background: url("../images/u940-r.png") no-repeat 0px 0px;
}

#u939.PamphletThumbSelected #u940
{
	background: url("../images/u940-a.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2174
{
	z-index: 14;
	min-height: 48px;
	padding-bottom: 18px;
}

#u738_align_to_page,#u2174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2270-4
{
	z-index: 15;
	width: 472px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 361px;
}

#u2174-bw
{
	z-index: 14;
	min-height: 48px;
	margin-top: 48px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

