.version.international /* version checker */
{
	color: #000012;
	background-color: #0C937A;
}

.html
{
	background: #FFFFFF url("../images/bg1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 798.9610733823803px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu1513
{
	width: 0.01px;
	margin-left: -100px;
}

#u1513
{
	z-index: 2;
	min-height: 125px;
	padding-bottom: 25px;
}

#u1507
{
	z-index: 3;
	width: 336px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 45px;
}

#u1476
{
	z-index: 7;
	width: 96px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 646px;
}

#u1516
{
	z-index: 5;
	width: 85px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 771px;
}

#u1511
{
	z-index: 9;
	width: 107px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 886px;
}

#u1513-bw
{
	z-index: 2;
	min-height: 125px;
}

#u1515
{
	z-index: 11;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 86px;
	left: 870px;
}

#u1515:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1515:active
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1514
{
	z-index: 12;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 746px;
}

#u1514:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 87px -10000px 0px 0px;
}

#u1514:active
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 87px -10000px 0px 0px;
}

#u1514.MuseLinkActive
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 87px -10000px 0px 0px;
}

#u1518
{
	z-index: 13;
	width: 138px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 86px;
	left: 621px;
}

#u1515.MuseLinkActive,#u1518:hover
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1518:active
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1518.MuseLinkActive
{
	width: 138px;
	height: 47px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#menuu1478
{
	z-index: 14;
	width: 605px;
	margin-left: 188px;
	margin-top: 32px;
}

#u1479
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
}

#u1482
{
	width: 200px;
	padding-bottom: 21px;
}

#u1482:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1482:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1485-4_clip
{
	width: 200px;
	height: 24px;
}

#u1485-4
{
	margin-right: -10000px;
	top: 10px;
}

#u1486
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
	left: 202px;
}

#u1487
{
	width: 200px;
	padding-bottom: 21px;
}

#u1482.MuseMenuActive,#u1487:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1487:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1487.MuseMenuActive
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1488
{
	height: 24px;
	width: 200px;
	margin-right: -10000px;
	top: 10px;
}

#u1500
{
	width: 201px;
	min-height: 45px;
	margin-right: -10000px;
	left: 404px;
}

#u1501
{
	width: 201px;
	padding-bottom: 21px;
}

#u1501:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1501:active
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1501.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1504
{
	height: 24px;
	width: 201px;
	margin-right: -10000px;
	top: 10px;
}

#pu1924
{
	width: 0.01px;
	margin-top: 41px;
}

#u1924
{
	z-index: 36;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1933
{
	z-index: 38;
	width: 0.01px;
	height: 77px;
	padding-bottom: 414px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 4px;
}

#u1936
{
	position: absolute;
	width: 953px;
	top: 263px;
}

#u1936popup
{
	z-index: 39;
}

#u1947
{
	z-index: 40;
	width: 952px;
	height: 228px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.4);
}

#u1948-8
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
}

#u2113
{
	z-index: 52;
	width: 111px;
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	border-radius: 20px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 753px;
}

#u2113:hover
{
	background-color: #D2C1AD;
	background-color: rgba(199,178,153,0.8);
	width: 111px;
	min-height: 0px;
	margin: 174px -10000px 0px 0px;
	-pie-background: rgba(199,178,153,0.8);
}

#u2114-4
{
	z-index: 53;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
}

#u1942
{
	z-index: 57;
	width: 951px;
	height: 227px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.4);
}

#u1943-8
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u2107
{
	z-index: 69;
	width: 121px;
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	border-radius: 20px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 759px;
}

#u2107:hover
{
	background-color: #D2C1AD;
	background-color: rgba(199,178,153,0.8);
	width: 121px;
	min-height: 0px;
	margin: 164px -10000px 0px 0px;
	-pie-background: rgba(199,178,153,0.8);
}

#u2108-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
}

#u1937
{
	z-index: 74;
	width: 951px;
	height: 194px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	border-radius: 15px 15px 15px 0px ;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255,255,255,0.4);
}

#u1938-8
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u2083
{
	z-index: 86;
	width: 116px;
	border-style: none;
	border-color: transparent;
	background-color: #C7B299;
	border-radius: 20px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 769px;
}

#u2083:hover
{
	background-color: #D2C1AD;
	background-color: rgba(199,178,153,0.8);
	width: 116px;
	min-height: 0px;
	margin: 134px -10000px 0px 0px;
	-pie-background: rgba(199,178,153,0.8);
}

#u2084-4
{
	z-index: 87;
	position: relative;
	width: 102px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
}

#u2114-4_img,#u2084-4_img
{
	display: block;
	vertical-align: top;
}

#u1952
{
	z-index: 91;
	width: 655px;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u1955
{
	position: absolute;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 34px;
	left: 586px;
}

#u1955:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1955.PamphletThumbSelected
{
	background-color: #7F7F7F;
	border-radius: 10px;
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u1972
{
	z-index: 94;
	height: 29px;
	width: 57px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 12px;
	background: url("../images/u1972.png") no-repeat 0px 0px;
}

#u1955.PamphletThumbSelected #u1972
{
	background: url("../images/u1972-a.png") no-repeat 0px 0px;
}

#u1953
{
	position: absolute;
	width: 78px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	padding-bottom: 4px;
	top: 48px;
	left: -13px;
}

#u1953:hover
{
	background-color: #999999;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1953.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	border-radius: 10px;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1976
{
	z-index: 98;
	height: 29px;
	width: 57px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 13px;
	background: url("../images/u1976.png") no-repeat 0px 0px;
}

#u1953.PamphletThumbSelected #u1976
{
	background: url("../images/u1976-a.png") no-repeat 0px 0px;
}

#u1954
{
	position: absolute;
	width: 68px;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 262px;
}

#u1954:hover
{
	border-color: #000000;
	background-color: #999999;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u1954.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	border-radius: 10px;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u1975
{
	z-index: 102;
	height: 29px;
	width: 57px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 7px;
	background: url("../images/u1975.png") no-repeat 0px 0px;
}

#u1954.PamphletThumbSelected #u1975
{
	background: url("../images/u1975-a.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2177
{
	z-index: 31;
	min-height: 65px;
	padding-bottom: 35px;
}

#u1513_align_to_page,#u2177_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2273-4
{
	z-index: 32;
	width: 472px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 361px;
}

#u2177-bw
{
	z-index: 31;
	min-height: 65px;
	margin-top: 92px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

