#u2536
{
	background-color: #442715;
}

#u2537,#u2541,#u2539,#u2543
{
	background-color: transparent;
	position: relative;
}

#u2545
{
	position: relative;
	background: transparent url("../images/bn_sh-shop_normal.png") no-repeat left top;
	background-size: contain;
}

#u2545:hover
{
	background: transparent url("../images/bn_sh-shop_over.png") no-repeat left top;
	background-size: contain;
}

#u2545:active
{
	background: transparent url("../images/bn_sh-shop_down.png") no-repeat left top;
	background-size: contain;
}

#u2545.MuseLinkActive
{
	background: transparent url("../images/bn_sh-shop_down.png") no-repeat left top;
	background-size: contain;
}

#u2546
{
	position: relative;
	background: transparent url("../images/bn_history-history_normal.png") no-repeat left top;
	background-size: contain;
}

#u2546:hover
{
	background: transparent url("../images/bn_history-history_over.png") no-repeat left top;
	background-size: contain;
}

#u2546:active
{
	background: transparent url("../images/bn_history-history_down.png") no-repeat left top;
	background-size: contain;
}

#u2546.MuseLinkActive
{
	background: transparent url("../images/bn_history-history_down.png") no-repeat left top;
	background-size: contain;
}

#u2547
{
	position: relative;
	background: transparent url("../images/bn_oder-oder_normal.png") no-repeat left top;
	background-size: contain;
}

#u2547:hover
{
	background: transparent url("../images/bn_oder-oder_over.png") no-repeat left top;
	background-size: contain;
}

#u2547:active
{
	background: transparent url("../images/bn_oder-oder_down.png") no-repeat left top;
	background-size: contain;
}

#u2547.MuseLinkActive
{
	background: transparent url("../images/bn_oder-oder_down.png") no-repeat left top;
	background-size: contain;
}

#u2175
{
	border-style: none;
	border-color: transparent;
	background-color: #372715;
}

#u2536_align_to_page,#u2175_align_to_page
{
	position: relative;
}

#u2271-4
{
	background-color: transparent;
	color: #C7B299;
	position: relative;
}

#u2271
{
	color: #C7B299;
}

