#u2568
{
	background-color: #442715;
}

#u2777
{
	position: relative;
	background: transparent url("../images/bn_oder-order_normal.png") no-repeat left top;
	background-size: contain;
}

#u2777:hover
{
	background: transparent url("../images/bn_oder-order_over.png") no-repeat left top;
	background-size: contain;
}

#u2777.MuseLinkActive
{
	background: transparent url("../images/bn_oder-order_down.png") no-repeat left top;
	background-size: contain;
}

#u2778
{
	position: relative;
	background: transparent url("../images/bn_shop-order_normal.png") no-repeat left top;
	background-size: contain;
}

#u2778:hover
{
	background: transparent url("../images/bn_shop-order_over.png") no-repeat left top;
	background-size: contain;
}

#u2778.MuseLinkActive
{
	background: transparent url("../images/bn_shop-order_down.png") no-repeat left top;
	background-size: contain;
}

#u2779
{
	position: relative;
	background: transparent url("../images/bn_history-order_normal.png") no-repeat left top;
	background-size: contain;
}

#u2779:hover
{
	background: transparent url("../images/bn_history-order_over.png") no-repeat left top;
	background-size: contain;
}

#u2779.MuseLinkActive
{
	background: transparent url("../images/bn_history-order_down.png") no-repeat left top;
	background-size: contain;
}

#menuu1478
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1482
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	border-radius: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.49);
}

#u1482:hover
{
	background-color: #E3D9CD;
	background-color: rgba(199,178,153,0.49);
	-pie-background: rgba(199,178,153,0.49);
}

#u1482:active
{
	background-color: #D3BEAA;
	background-color: rgba(166,124,82,0.49);
	-pie-background: rgba(166,124,82,0.49);
}

#u1482.MuseMenuActive
{
	background-color: #AAA4A1;
	background-color: rgba(83,71,65,0.49);
	-pie-background: rgba(83,71,65,0.49);
}

#u1485-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u1485-4_img
{
	display: block;
}

#u1487
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	border-radius: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.49);
}

#u1487:hover
{
	background-color: #E3D9CD;
	background-color: rgba(199,178,153,0.49);
	-pie-background: rgba(199,178,153,0.49);
}

#u1487:active
{
	background-color: #D3BEAA;
	background-color: rgba(166,124,82,0.49);
	-pie-background: rgba(166,124,82,0.49);
}

#u1487.MuseMenuActive
{
	background-color: #AAA4A1;
	background-color: rgba(83,71,65,0.49);
	-pie-background: rgba(83,71,65,0.49);
}

#u1488
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1488.png") no-repeat 0px 0px;
}

#u1487.MuseMenuActive #u1488
{
	background: url("../images/u1488-a.png") no-repeat 0px 0px;
}

#u2569,#u2773,#u2771,#u2775,#u1479,#u1486,#u1500
{
	background-color: transparent;
	position: relative;
}

#u1501
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	border-radius: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.49);
}

#u1501:hover
{
	background-color: #E3D9CD;
	background-color: rgba(199,178,153,0.49);
	-pie-background: rgba(199,178,153,0.49);
}

#u1501:active
{
	background-color: #D3BEAA;
	background-color: rgba(166,124,82,0.49);
	-pie-background: rgba(166,124,82,0.49);
}

#u1501.MuseMenuActive
{
	background-color: #AAA4A1;
	background-color: rgba(83,71,65,0.49);
	-pie-background: rgba(83,71,65,0.49);
}

#u1504
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1504.png") no-repeat 0px 0px;
}

#u1501.MuseMenuActive #u1504
{
	background: url("../images/u1504-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2177
{
	border-style: none;
	border-color: transparent;
	background-color: #372715;
}

#u2568_align_to_page,#u1485-4,#u2177_align_to_page
{
	position: relative;
}

#u2273-4
{
	background-color: transparent;
	color: #C7B299;
	position: relative;
}

#u2273
{
	color: #C7B299;
}

