#u2552
{
	background-color: #442715;
}

#u2561
{
	position: relative;
	background: transparent url("../images/bn_sh-shop_normal.png") no-repeat left top;
	background-size: contain;
}

#u2561:hover
{
	background: transparent url("../images/bn_sh-shop_over.png") no-repeat left top;
	background-size: contain;
}

#u2561:active
{
	background: transparent url("../images/bn_sh-shop_down.png") no-repeat left top;
	background-size: contain;
}

#u2561.MuseLinkActive
{
	background: transparent url("../images/bn_sh-shop_down.png") no-repeat left top;
	background-size: contain;
}

#u2562
{
	position: relative;
	background: transparent url("../images/bn_history-history_normal.png") no-repeat left top;
	background-size: contain;
}

#u2562:hover
{
	background: transparent url("../images/bn_history-history_over.png") no-repeat left top;
	background-size: contain;
}

#u2562:active
{
	background: transparent url("../images/bn_history-history_down.png") no-repeat left top;
	background-size: contain;
}

#u2562.MuseLinkActive
{
	background: transparent url("../images/bn_history-history_down.png") no-repeat left top;
	background-size: contain;
}

#u2563
{
	position: relative;
	background: transparent url("../images/bn_oder-oder_normal.png") no-repeat left top;
	background-size: contain;
}

#u2563:hover
{
	background: transparent url("../images/bn_oder-oder_over.png") no-repeat left top;
	background-size: contain;
}

#u2563:active
{
	background: transparent url("../images/bn_oder-oder_down.png") no-repeat left top;
	background-size: contain;
}

#u2563.MuseLinkActive
{
	background: transparent url("../images/bn_oder-oder_down.png") no-repeat left top;
	background-size: contain;
}

#menuu1325
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1341
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	border-radius: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.49);
}

#u1341:hover
{
	background-color: #E3D9CD;
	background-color: rgba(199,178,153,0.49);
	-pie-background: rgba(199,178,153,0.49);
}

#u1341:active
{
	background-color: #D3BEAA;
	background-color: rgba(166,124,82,0.49);
	-pie-background: rgba(166,124,82,0.49);
}

#u1341.MuseMenuActive
{
	background-color: #AAA4A1;
	background-color: rgba(83,71,65,0.49);
	-pie-background: rgba(83,71,65,0.49);
}

#u1343-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u1343-4_img
{
	display: block;
}

#u1327
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	border-radius: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.49);
}

#u1327:hover
{
	background-color: #E3D9CD;
	background-color: rgba(199,178,153,0.49);
	-pie-background: rgba(199,178,153,0.49);
}

#u1327:active
{
	background-color: #D3BEAA;
	background-color: rgba(166,124,82,0.49);
	-pie-background: rgba(166,124,82,0.49);
}

#u1327.MuseMenuActive
{
	background-color: #AAA4A1;
	background-color: rgba(83,71,65,0.49);
	-pie-background: rgba(83,71,65,0.49);
}

#u1330
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1330.png") no-repeat 0px 0px;
}

#u1327.MuseMenuActive #u1330
{
	background: url("../images/u1330-a.png") no-repeat 0px 0px;
}

#u1334
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	border-radius: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.49);
}

#u1334:hover
{
	background-color: #E3D9CD;
	background-color: rgba(199,178,153,0.49);
	-pie-background: rgba(199,178,153,0.49);
}

#u1334:active
{
	background-color: #D3BEAA;
	background-color: rgba(166,124,82,0.49);
	-pie-background: rgba(166,124,82,0.49);
}

#u1334.MuseMenuActive
{
	background-color: #AAA4A1;
	background-color: rgba(83,71,65,0.49);
	-pie-background: rgba(83,71,65,0.49);
}

#u1337
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1337.png") no-repeat 0px 0px;
}

#u1334.MuseMenuActive #u1337
{
	background: url("../images/u1337-a.png") no-repeat 0px 0px;
}

#u2553,#u2557,#u2555,#u2559,#u1322,#u1340,#u1326,#u1333,#u1347
{
	background-color: transparent;
	position: relative;
}

#u1350
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	border-radius: 20px;
	position: relative;
	-pie-background: rgba(255,255,255,0.49);
}

#u1350:hover
{
	background-color: #E3D9CD;
	background-color: rgba(199,178,153,0.49);
	-pie-background: rgba(199,178,153,0.49);
}

#u1350:active
{
	background-color: #D3BEAA;
	background-color: rgba(166,124,82,0.49);
	-pie-background: rgba(166,124,82,0.49);
}

#u1350.MuseMenuActive
{
	background-color: #AAA4A1;
	background-color: rgba(83,71,65,0.49);
	-pie-background: rgba(83,71,65,0.49);
}

#u1352
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1352.png") no-repeat 0px 0px;
}

#u1350.MuseMenuActive #u1352
{
	background: url("../images/u1352-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2176
{
	border-style: none;
	border-color: transparent;
	background-color: #372715;
}

#u2552_align_to_page,#u1343-4,#u2176_align_to_page
{
	position: relative;
}

#u2272-4
{
	background-color: transparent;
	color: #C7B299;
	position: relative;
}

#u2272
{
	color: #C7B299;
}

