#u738
{
	background-color: #442715;
}

#u739,#u743,#u741,#u745
{
	background-color: transparent;
	position: relative;
}

#u747
{
	position: relative;
	background: transparent url("../images/bn_sh-shop_normal.png") no-repeat left top;
	background-size: contain;
}

#u747:hover
{
	background: transparent url("../images/bn_sh-shop_over.png") no-repeat left top;
	background-size: contain;
}

#u747:active
{
	background: transparent url("../images/bn_sh-shop_down.png") no-repeat left top;
	background-size: contain;
}

#u747.MuseLinkActive
{
	background: transparent url("../images/bn_sh-shop_down.png") no-repeat left top;
	background-size: contain;
}

#u748
{
	position: relative;
	background: transparent url("../images/bn_history-history_normal.png") no-repeat left top;
	background-size: contain;
}

#u748:hover
{
	background: transparent url("../images/bn_history-history_over.png") no-repeat left top;
	background-size: contain;
}

#u748:active
{
	background: transparent url("../images/bn_history-history_down.png") no-repeat left top;
	background-size: contain;
}

#u748.MuseLinkActive
{
	background: transparent url("../images/bn_history-history_down.png") no-repeat left top;
	background-size: contain;
}

#u749
{
	position: relative;
	background: transparent url("../images/bn_oder-oder_normal.png") no-repeat left top;
	background-size: contain;
}

#u749:hover
{
	background: transparent url("../images/bn_oder-oder_over.png") no-repeat left top;
	background-size: contain;
}

#u749:active
{
	background: transparent url("../images/bn_oder-oder_down.png") no-repeat left top;
	background-size: contain;
}

#u749.MuseLinkActive
{
	background: transparent url("../images/bn_oder-oder_down.png") no-repeat left top;
	background-size: contain;
}

#u2174
{
	border-style: none;
	border-color: transparent;
	background-color: #372715;
}

#u738_align_to_page,#u2174_align_to_page
{
	position: relative;
}

#u2270-4
{
	background-color: transparent;
	color: #C7B299;
	position: relative;
}

#u2270
{
	color: #C7B299;
}

