#u2536
{
	background-color: #442715;
}

#u2537,#u2541,#u2539,#u2543
{
	background-color: transparent;
	position: relative;
}

#u2756
{
	position: relative;
	background: transparent url("../images/bn_oder-order_normal.png") no-repeat left top;
	background-size: contain;
}

#u2756:hover
{
	background: transparent url("../images/bn_oder-order_over.png") no-repeat left top;
	background-size: contain;
}

#u2756.MuseLinkActive
{
	background: transparent url("../images/bn_oder-order_down.png") no-repeat left top;
	background-size: contain;
}

#u2757
{
	position: relative;
	background: transparent url("../images/bn_shop-order_normal.png") no-repeat left top;
	background-size: contain;
}

#u2757:hover
{
	background: transparent url("../images/bn_shop-order_over.png") no-repeat left top;
	background-size: contain;
}

#u2757.MuseLinkActive
{
	background: transparent url("../images/bn_shop-order_down.png") no-repeat left top;
	background-size: contain;
}

#u2758
{
	position: relative;
	background: transparent url("../images/bn_history-order_normal.png") no-repeat left top;
	background-size: contain;
}

#u2758:hover
{
	background: transparent url("../images/bn_history-order_over.png") no-repeat left top;
	background-size: contain;
}

#u2758.MuseLinkActive
{
	background: transparent url("../images/bn_history-order_down.png") no-repeat left top;
	background-size: contain;
}

#u2175
{
	border-style: none;
	border-color: transparent;
	background-color: #372715;
}

#u2536_align_to_page,#u2175_align_to_page
{
	position: relative;
}

#u2271-4
{
	background-color: transparent;
	color: #C7B299;
	position: relative;
}

#u2271
{
	color: #C7B299;
}

