.version.shop /* version checker */
{
	color: #0000EA;
	background-color: #67742E;
}

.html
{
	background: #FFFFFF url("../images/bg1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 699.9610733823803px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu738
{
	width: 0.01px;
	margin-left: -100px;
}

#u738
{
	z-index: 2;
	min-height: 101px;
	padding-bottom: 19px;
}

#u739
{
	z-index: 3;
	width: 336px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u743
{
	z-index: 7;
	width: 80px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 682px;
}

#u741
{
	z-index: 5;
	width: 71px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 786px;
}

#u745
{
	z-index: 9;
	width: 89px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 883px;
}

#u738-bw
{
	z-index: 2;
	min-height: 101px;
}

#u747
{
	z-index: 11;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 870px;
}

#u747:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u747:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u748
{
	z-index: 12;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 765px;
}

#u748:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u748:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u748.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u749
{
	z-index: 13;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 661px;
}

#u747.MuseLinkActive,#u749:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u749:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u749.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#menuu2281
{
	z-index: 19;
	width: 117px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 768px;
}

#u2285
{
	width: 117px;
	padding-bottom: 19px;
}

#u2286-3
{
	width: 117px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2311
{
	width: 109px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u2311:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2313
{
	height: 23px;
	width: 104px;
	margin-right: -10000px;
	top: 9px;
	left: 3px;
}

#u2335
{
	width: 109px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2311.MuseMenuActive,#u2335:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2328
{
	width: 109px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u2335.MuseMenuActive,#u2328:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2321
{
	width: 109px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u2328.MuseMenuActive,#u2321:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2329,#u2322
{
	height: 23px;
	width: 104px;
	margin-right: -10000px;
	top: 8px;
	left: 3px;
}

#u2310,#u2332,#u2325,#u2318,#u2345
{
	width: 110px;
	padding-bottom: 1px;
}

#u2348
{
	width: 109px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u2321.MuseMenuActive,#u2348:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2348.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2336,#u2351
{
	height: 23px;
	width: 104px;
	margin-right: -10000px;
	top: 5px;
	left: 3px;
}

#menuu2399
{
	z-index: 52;
	width: 117px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 878px;
}

#u2282,#u2400
{
	width: 117px;
	min-height: 36px;
	margin-right: -10000px;
}

#u2401
{
	width: 117px;
	padding-bottom: 19px;
}

#u2285.MuseMenuActive,#u2401.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u2402-3
{
	width: 117px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u2285.MuseMenuActive #u2286-3,#u2401.MuseMenuActive #u2402-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u2283,#u2405
{
	width: 110px;
	top: 36px;
}

#u2417
{
	width: 110px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u2417:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2443
{
	width: 110px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u2417.MuseMenuActive,#u2443:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2419,#u2445
{
	height: 23px;
	width: 106px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u2284,#u2406,#u2414,#u2442,#u2435
{
	width: 110px;
}

#u2436
{
	width: 110px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u2443.MuseMenuActive,#u2436:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2436.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2437
{
	height: 23px;
	width: 106px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#pamphletu1012
{
	z-index: 75;
	width: 0.01px;
	height: 300px;
	margin-left: 26px;
	margin-top: 79px;
	position: relative;
}

#u1020
{
	z-index: 76;
	width: 909px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1022
{
	position: absolute;
	width: 299px;
	height: 299px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/a2.jpg") no-repeat left top;
	background-size: cover;
}

#u1021
{
	position: absolute;
	width: 299px;
	height: 299px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 304px;
	background: #C4C4C4 url("../images/b2.jpg") no-repeat left top;
	background-size: cover;
}

#u1022:hover,#u1021:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 299px;
	height: 299px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u1023
{
	position: absolute;
	width: 299px;
	height: 299px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	left: 608px;
	background: #999999 url("../images/c2.jpg") no-repeat center top;
	background-size: cover;
}

#u1023:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	width: 299px;
	height: 299px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/c2.jpg") no-repeat center top;
	background-size: cover;
}

#u1013
{
	position: absolute;
	width: 708px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 129px;
	left: 168px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1013popup
{
	z-index: 80;
}

#u1018
{
	z-index: 81;
	width: 664px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1084
{
	z-index: 90;
	width: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#u1019-8
{
	z-index: 82;
	width: 611px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #1A1A1A;
	padding-left: 10px;
	padding-top: 10px;
	line-height: 20px;
	color: #DEDEDE;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
}

#u1014
{
	z-index: 92;
	width: 664px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1108
{
	z-index: 97;
	width: 630px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1015-4
{
	z-index: 93;
	width: 611px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #101010;
	padding-left: 10px;
	padding-top: 10px;
	line-height: 20px;
	color: #DEDEDE;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
}

#u1016
{
	z-index: 99;
	width: 664px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1111
{
	z-index: 104;
	width: 643px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1017-4
{
	z-index: 100;
	width: 610px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #151515;
	padding-left: 10px;
	padding-top: 10px;
	line-height: 20px;
	color: #DEDEDE;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 11px;
}

#u1028
{
	position: absolute;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	padding-bottom: 225px;
	top: 151px;
	left: 161px;
}

#u1029-4
{
	z-index: 107;
	width: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 10px;
}

#u1026
{
	position: absolute;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	padding-bottom: 225px;
	top: 151px;
	left: 821px;
}

#u1028:hover,#u1026:hover
{
	background-color: #6B6B6B;
	width: 40px;
	min-height: 0px;
	margin: 0px;
}

#u1027-4
{
	z-index: 112;
	width: 19px;
	min-height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 11px;
}

#u1029-2,#u1027-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1029,#u1027
{
	font-size: 16px;
	line-height: 16px;
}

#u1024
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 152px;
	left: 791px;
}

#u1024:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1024:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1025-4
{
	z-index: 117;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1117
{
	width: 0.01px;
	margin-left: 181px;
	margin-top: 15px;
}

#u1117
{
	z-index: 121;
	width: 140px;
	background-color: #C7B299;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u1120-4
{
	z-index: 124;
	margin-bottom: -5px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#u1118
{
	z-index: 122;
	width: 140px;
	background-color: #C7B299;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	left: 309px;
}

#u1122-4
{
	z-index: 128;
	margin-bottom: -5px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 20px;
}

#u1119
{
	z-index: 123;
	width: 140px;
	background-color: #C7B299;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	left: 613px;
}

#u1132-4
{
	z-index: 132;
	margin-bottom: -5px;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 20px;
}

#u1120-4_img,#u1122-4_img,#u1132-4_img
{
	display: block;
	vertical-align: top;
}

#u2174
{
	z-index: 14;
	min-height: 48px;
	padding-bottom: 18px;
}

#u738_align_to_page,#u2174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2270-4
{
	z-index: 15;
	width: 472px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 361px;
}

#u2174-bw
{
	z-index: 14;
	min-height: 48px;
	margin-top: 80px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

