.version.taiwantea /* version checker */
{
	color: #000002;
	background-color: #9ADDCB;
}

.html
{
	background: #FFFFFF url("../images/bg1.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 699.956518583043px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu2536
{
	width: 0.01px;
	margin-left: -100px;
}

#u2536
{
	z-index: 7;
	min-height: 101px;
	padding-bottom: 9px;
}

#u2537
{
	z-index: 8;
	width: 336px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u2541
{
	z-index: 12;
	width: 80px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 682px;
}

#u2539
{
	z-index: 10;
	width: 71px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 786px;
}

#u2543
{
	z-index: 14;
	width: 89px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 883px;
}

#u2536-bw
{
	z-index: 7;
	min-height: 101px;
}

#u2545
{
	z-index: 16;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 870px;
}

#u2545:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2545:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2546
{
	z-index: 17;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 765px;
}

#u2546:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u2546:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u2546.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u2547
{
	z-index: 18;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 661px;
}

#u2545.MuseLinkActive,#u2547:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2547:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2547.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u1412
{
	z-index: 19;
	width: 799px;
	background-color: transparent;
	margin-left: 70px;
	margin-top: 48px;
	position: relative;
}

#u1419-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 19px;
	position: relative;
}

#u2162
{
	z-index: 26;
	height: 66px;
	width: 106px;
	vertical-align: top;
	margin-left: 430px;
	margin-top: 45px;
	position: relative;
	background: url("../images/u2162.png") no-repeat 0px 0px;
}

#u2162:hover
{
	background: url("../images/u2162-r.png") no-repeat 0px 0px;
}

#u2175
{
	z-index: 2;
	min-height: 50px;
	padding-bottom: 20px;
}

#u2536_align_to_page,#u2175_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2271-4
{
	z-index: 3;
	width: 472px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 341px;
}

#u2175-bw
{
	z-index: 2;
	min-height: 50px;
	margin-top: 36px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

