.version.tradition /* version checker */
{
	color: #0000FE;
	background-color: #0DB280;
}

.html
{
	background: #FFFFFF url("../images/bg1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 798.9565185830431px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu2568
{
	width: 0.01px;
	margin-left: -100px;
}

#u2568
{
	z-index: 24;
	min-height: 101px;
	padding-bottom: 9px;
}

#u2569
{
	z-index: 25;
	width: 336px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u2573
{
	z-index: 29;
	width: 80px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 682px;
}

#u2571
{
	z-index: 27;
	width: 71px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 786px;
}

#u2575
{
	z-index: 31;
	width: 89px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 883px;
}

#u2568-bw
{
	z-index: 24;
	min-height: 101px;
}

#u2577
{
	z-index: 33;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 870px;
}

#u2577:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2577:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2578
{
	z-index: 34;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 765px;
}

#u2578:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u2578:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u2578.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u2579
{
	z-index: 35;
	width: 115px;
	height: 39px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 661px;
}

#u2577.MuseLinkActive,#u2579:hover
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2579:active
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#u2579.MuseLinkActive
{
	width: 115px;
	height: 39px;
	min-height: 0px;
	margin: 66px -10000px 0px 0px;
}

#menuu1478
{
	z-index: 2;
	width: 605px;
	margin-left: 183px;
	margin-top: 40px;
}

#u1479
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
}

#u1482
{
	width: 200px;
	padding-bottom: 21px;
}

#u1482:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1482:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1485-4_clip
{
	width: 200px;
	height: 24px;
}

#u1485-4
{
	margin-right: -10000px;
	top: 10px;
}

#u1486
{
	width: 200px;
	min-height: 45px;
	margin-right: -10000px;
	left: 202px;
}

#u1487
{
	width: 200px;
	padding-bottom: 21px;
}

#u1482.MuseMenuActive,#u1487:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1487:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1487.MuseMenuActive
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u1488
{
	height: 24px;
	width: 200px;
	margin-right: -10000px;
	top: 10px;
}

#u1500
{
	width: 201px;
	min-height: 45px;
	margin-right: -10000px;
	left: 404px;
}

#u1501
{
	width: 201px;
	padding-bottom: 21px;
}

#u1501:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1501:active
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1501.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u1504
{
	height: 24px;
	width: 201px;
	margin-right: -10000px;
	top: 10px;
}

#slideshowu1818
{
	z-index: 36;
	width: 0.01px;
	height: 643px;
	margin-left: 17px;
	margin-top: 18px;
	position: relative;
}

#u1835
{
	position: absolute;
	width: 685px;
	height: 582px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 8px;
	left: 119px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1835popup
{
	z-index: 37;
}

#u1842
{
	z-index: 38;
	width: 641px;
	height: 520px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1842_img
{
	padding: 17px 138px 155px 140px;
}

#u1838
{
	z-index: 40;
	width: 641px;
	height: 520px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1838_img
{
	padding: 17px 109px 158px 100px;
}

#u1846
{
	z-index: 42;
	width: 641px;
	height: 520px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1846_img
{
	padding: 87px 213px 241px 236px;
}

#u1840
{
	z-index: 44;
	width: 641px;
	height: 520px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1840_img
{
	padding: 7px 57px 173px 74px;
}

#u1821
{
	position: absolute;
	width: 946px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 33px;
}

#u1821popup
{
	z-index: 46;
}

#u1828
{
	z-index: 47;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#u1828_img
{
	margin-left: -6px;
	margin-right: -6px;
	margin-bottom: 1px;
}

#u1832
{
	z-index: 49;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 323px;
}

#u1822
{
	z-index: 51;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 633px;
}

#u1828:hover,#u1832:hover,#u1822:hover
{
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1828_clip,#u1822_clip
{
	overflow: hidden;
	width: 300px;
	height: 300px;
}

#u1822_img
{
	margin: -18px -15px -39px 2px;
}

#u1830
{
	z-index: 53;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 13px;
}

#u1830:hover
{
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 310px -10000px 0px 0px;
}

#u1852
{
	position: absolute;
	width: 485px;
	background-color: transparent;
	top: 406px;
	left: 228px;
}

#u1852popup
{
	z-index: 55;
}

#u1853-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1856-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1857-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1858-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1851-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 212px;
	left: 141px;
}

#u1851-4popup
{
	z-index: 72;
}

#u1850-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 212px;
	left: 747px;
}

#u1850-4popup
{
	z-index: 76;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu1859
{
	width: 0.01px;
	margin-left: 227px;
	margin-top: -380px;
}

#u1859
{
	z-index: 80;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u1859:hover
{
	background-color: #D2C1AD;
	background-color: rgba(199,178,153,0.8);
	width: 93px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(199,178,153,0.8);
}

#u1860-4
{
	z-index: 81;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u1861
{
	z-index: 85;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 319px;
}

#u1861:hover
{
	background-color: #D2C1AD;
	background-color: rgba(199,178,153,0.8);
	width: 93px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(199,178,153,0.8);
}

#u1862-4
{
	z-index: 86;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u1863
{
	z-index: 90;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u1863:hover
{
	background-color: #D2C1AD;
	background-color: rgba(199,178,153,0.8);
	width: 93px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(199,178,153,0.8);
}

#u1864-4
{
	z-index: 91;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u1865
{
	z-index: 95;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 7px;
	margin-left: 227px;
	top: -73px;
	margin-bottom: -40px;
	position: relative;
}

#u1865:hover
{
	background-color: #D2C1AD;
	background-color: rgba(199,178,153,0.8);
	width: 93px;
	min-height: 0px;
	margin: 0px 0px -40px 227px;
	-pie-background: rgba(199,178,153,0.8);
}

#u1866-4
{
	z-index: 96;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
}

#u1860-4_img,#u1862-4_img,#u1864-4_img,#u1866-4_img
{
	display: block;
	vertical-align: top;
}

#u2177
{
	z-index: 19;
	min-height: 65px;
	padding-bottom: 35px;
}

#u2568_align_to_page,#u2177_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2273-4
{
	z-index: 20;
	width: 472px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 361px;
}

#u2177-bw
{
	z-index: 19;
	min-height: 65px;
	margin-top: 92px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

